.chat-body {
    background-color: rgb(236, 240, 236);
    color: rebeccapurple;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat-header {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat-header-info {
    flex: 1;
    padding-left: 20px;
}

.chat-header-info>h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat-header-info>p {
    color: gray;
}

.chat-headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
    overflow: scroll;
}

.chat-message {
    margin-top: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    background-color: rgba(243, 72, 29, 0.836);
    color: black;
    font-size: 13px;
    font-family: monospace;
    border-radius: 10px;
    padding: 5px;
    font-weight: bolder;
    max-width: 80%;
}

.chat-receiver {
    margin-top: 10px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
    background-color: rgba(91, 160, 35, 0.836);
    color: black;
    font-size: 13px;
    font-family: monospace;
    border-radius: 10px;
    padding: 5px;
    font-weight: bolder;
    max-width: 80%;
    text-align: left;
    align-items: flex-end;
}

.timestamp {
    font-size: xx-small;
    color: rgb(248, 248, 248);
    font-weight: bold;
}

.timestamp-left {
    font-size: xx-small;
    color: rgb(248, 248, 248);
    font-weight: bold;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top: 1px solid lightgrey;
}

.chat-footer>form {
    flex: 1;
    display: flex;
}

.chat-footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat-footer>.MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.forEmoji {
    background-color: none !important;
    font-size: 35px !important;
}

.forMessage {
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    text-overflow: clip;
    margin: -50px 0px 5px 0px;
}

.avatar-left {
    right: 50px !important;
}

.avatar-right {
    left: 50px !important;
}